.col-md-12 {
    background-color: darkseagreen;

}

#welcome {
    float: left;
    font-size: 36px;
}

body {
    margin: 0;
    padding: 0;

}

#topNav {
    display: inline-block;
    line-height: 1.6em;
    float: left;
    width: 100%;
    text-align: center;

}